github 'Alamofire'
github 'GoogleAds-IMA-iOS-SDK'
github 'NKModalViewManager'
github 'NKButton'
github 'FrameLayoutKit'
github 'SDWebImage'
github 'SwiftyJSON'
github 'LFLiveKit+'
github 'NVActivityIndicatorView/AppExtension'
github 'Sentry'